In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
import pandas as pd
import seaborn as snus
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('data/train.csv')

df.drop(columns=['CGPA'], inplace=True)
df.drop(columns=['Name'], inplace=True)

df['Pressure'] = df['Academic Pressure'].fillna(0) + df['Work Pressure'].fillna(0)
df = df.drop(columns=['Academic Pressure', 'Work Pressure'])
df['Satisfaction'] = df['Study Satisfaction'].fillna(0) + df['Job Satisfaction'].fillna(0)
df = df.drop(columns=['Study Satisfaction', 'Job Satisfaction'])

df['Profession'] = df[df['Working Professional or Student'] == 'Working Professional']['Profession'].apply(lambda x: x if pd.notna(x) else 'Unknown')
df['Profession'] = df['Profession'].fillna('Student')

df = pd.get_dummies(df, dtype=int, prefix=['', '', 'Familly illnes: ', 'Suicadal thoughts: '], prefix_sep="", columns=['Working Professional or Student', 'Gender', 'Family History of Mental Illness', 'Have you ever had suicidal thoughts ?'], drop_first=False)
city_encoder = LabelEncoder()
profession_encoder = LabelEncoder()
degree_encoder = LabelEncoder()
df['City'] = city_encoder.fit_transform(df['City'])
df['Sleep Duration'] = df['Sleep Duration'].apply(lambda x: 0 if x == 'Less than 5 hours' else (1 if x == '5-6 hours' else (2 if x == '5-7 hours' else (3 if x == '7-8 hours' else 4))))
df['Profession'] = profession_encoder.fit_transform(df['Profession'])
df['Dietary Habits'] = df['Dietary Habits'].apply(lambda x: 0 if x == 'Unhealthy' else (1 if x == 'Moderate' else 2))
df['Degree'] = degree_encoder.fit_transform(df['Degree'])
df

27

,Age,City,Profession,Sleep Duration,Dietary Habits,Degree,Work/Study Hours,Financial Stress,Depression,id,Pressure,Satisfaction,Student,Working Professional,Female,Male,Familly illnes: No,Familly illnes: Yes,Suicadal thoughts: No,Suicadal thoughts: Yes
0,47,0,33,0,0,B.Arch,11,5,0,1,1.0,5.0,0,1,0,1,0,1,0,1
1,25,4,32,3,2,BSc,9,3,0,2,3.0,1.0,1,0,1,0,1,0,1,0
2,56,9,9,3,1,B.Tech,2,4,0,3,3.0,2.0,0,1,0,1,0,1,1,0
3,24,11,32,1,1,MBBS,5,3,1,4,2.0,2.0,1,0,1,0,1,0,0,1
4,55,12,29,3,0,BSc,4,4,0,5,1.0,2.0,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,50,1,13,4,2,BSc,2,5,0,1887,4.0,3.0,0,1,0,1,0,1,0,1
1887,28,28,32,0,1,Class 12,11,5,1,1888,4.0,2.0,1,0,1,0,0,1,0,1
1888,46,12,7,4,0,BE,5,5,0,1889,4.0,4.0,0,1,1,0,1,0,1,0
1889,23,16,32,0,0,B.Tech,8,5,0,1890,2.0,5.0,1,0,0,1,1,0,1,0
1890,52,15,22,4,0,MHM,10,4,0,1891,2.0,2.0,0,1,1,0,1,0,0,1